# 1. Data Cleaning

In [1]:
# import relevant modules 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.formula.api as smf

In [2]:
# first look at dataset as dataframe
df = pd.read_csv('HR_Dataset.csv')
pd.set_option('display.max_columns', None) # display all columns in Jupyter Notebook
print(df.shape, '\n')
df.head(5)

(1480, 38)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,Y,No,13,3,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,Y,No,12,3,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Y,Yes,14,3,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,1012,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,Y,No,15,3,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,1156,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,Y,No,12,3,4,80,0,0,0,3,0,0,0,0.0

In [3]:
# check data types
df.dtypes

EmpID                        object
Age                           int64
AgeGroup                     object
Attrition                    object
BusinessTravel               object
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
SalarySlab                   object
MonthlyRate                   int64
NumCompaniesWorked            int64
Over18                       object
OverTime                     object
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager        float64
dtype: object

In [4]:
# transform object into category
cat_columns = ['EmpID', 'AgeGroup', 'Attrition', 'BusinessTravel', 'Department', 'EducationField', 
               'Gender', 'JobRole', 'MaritalStatus', 'SalarySlab', 'Over18', 'OverTime']

for entry in cat_columns:
    df[entry] = df[entry].astype('category') 
df.dtypes

EmpID                       category
Age                            int64
AgeGroup                    category
Attrition                   category
BusinessTravel              category
DailyRate                      int64
Department                  category
DistanceFromHome               int64
Education                      int64
EducationField              category
EmployeeCount                  int64
EmployeeNumber                 int64
EnvironmentSatisfaction        int64
Gender                      category
HourlyRate                     int64
JobInvolvement                 int64
JobLevel                       int64
JobRole                     category
JobSatisfaction                int64
MaritalStatus               category
MonthlyIncome                  int64
SalarySlab                  category
MonthlyRate                    int64
NumCompaniesWorked             int64
Over18                      category
OverTime                    category
PercentSalaryHike              int64
PerformanceRating              int64
RelationshipSatisfaction       int64
StandardHours                  int64
StockOptionLevel               int64
TotalWorkingYears              int64
TrainingTimesLastYear          int64
WorkLifeBalance                int64
YearsAtCompany                 int64
YearsInCurrentRole             int64
YearsSinceLastPromotion        int64
YearsWithCurrManager         float64
dtype: object

In [5]:
# inspect statistics of numerical columns
df.describe().T # transpose table with outcomes

,count,mean,std,min,25%,50%,75%,max
Age,1480.0,36.917568,9.128559,18.0,30.00,36.0,43.00,60.0
DailyRate,1480.0,801.384459,403.126988,102.0,465.00,800.0,1157.00,1499.0
DistanceFromHome,1480.0,9.220270,8.131201,1.0,2.00,7.0,14.00,29.0
Education,1480.0,2.910811,1.023796,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1480.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1480.0,1031.860811,605.955046,1.0,493.75,1027.5,1568.25,2068.0
EnvironmentSatisfaction,1480.0,2.724324,1.092579,1.0,2.00,3.0,4.00,4.0
HourlyRate,1480.0,65.845270,20.328266,30.0,48.00,66.0,83.00,100.0
JobInvolvement,1480.0,2.729730,0.713007,1.0,2.00,3.0,3.00,4.0
JobLevel,1480.0,2.064865,1.105574,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1480.0,2.725000,1.104137,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1480.0,6504.985811,4700.261400,1009.0,2922.25,4933.0,8383.75,19999.0
MonthlyRate,1480.0,14298.460811,7112.056802,2094.0,8051.00,14220.0,20460.50,26999.0
NumCompaniesWorked,1480.0,2.687162,2.494098,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1480.0,15.210135,3.655338,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1480.0,3.153378,0.360474,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1480.0,2.708784,1.081995,1.0,2.00,3.0,4.00,4.0
StandardHours,1480.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1480.0,0.791892,0.850527,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1480.0,11.281757,7.770870,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1480.0,2.797973,1.288791,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1480.0,2.760811,0.707024,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1480.0,7.009459,6.117945,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1480.0,4.228378,3.616020,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1480.0,2.182432,3.219357,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1423.0,4.118060,3.555484,0.0,2.00,3.0,7.00,17.0

In [6]:
# check for NaNs
df.isna().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [7]:
# only display rows with NaNs
nan_mask = (df.loc[:, 'YearsWithCurrManager'].isna() == 1)
df.loc[nan_mask, :]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
28,RM024,21,18-25,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,3,Male,96,3,1,Research Scientist,4,Single,1232,Upto 5k,19281,1,Y,No,14,3,4,80,0,0,6,3,0,0,0,NaN
31,RM363,21,18-25,No,Non-Travel,895,Sales,9,2,Medical,1,484,1,Male,39,3,1,Sales Representative,4,Single,2610,Upto 5k,2851,1,Y,No,24,4,3,80,0,3,3,2,3,2,2,NaN
45,RM207,22,18-25,No,Travel_Rarely,1136,Research & Development,5,3,Life Sciences,1,284,4,Male,60,4,1,Research Scientist,2,Divorced,2328,Upto 5k,12392,1,Y,Yes,16,3,1,80,1,4,2,2,4,2,2,NaN
99,RM139,25,18-25,No,Travel_Rarely,959,Sales,28,3,Life Sciences,1,183,1,Male,41,2,2,Sales Executive,3,Married,8639,5k-10k,24835,2,Y,No,18,3,4,80,0,6,3,3,2,2,2,NaN
100,RM256,25,18-25,No,Travel_Rarely,685,Research & Development,1,3,Life Sciences,1,350,1,Female,62,3,2,Manufacturing Director,3,Married,4898,Upto 5k,7505,0,Y,No,12,3,4,80,2,5,3,3,4,2,1,NaN
103,RM406,25,18-25,Yes,Travel_Rarely,688,Research & Development,3,3,Medical,1,538,1,Male,91,3,1,Laboratory Technician,1,Married,4031,Upto 5k,9396,5,Y,No,13,3,3,80,1,6,5,3,2,2,0,NaN
222,RM405,28,26-35,No,Travel_Rarely,1300,Research & Development,17,2,Medical,1,536,3,Male,79,3,2,Laboratory Technician,1,Divorced,4558,Upto 5k,13535,1,Y,No,12,3,4,80,1,10,2,3,10,0,1,NaN
262,RM072,29,26-35,No,Travel_Rarely,1328,Research & Development,2,3,Life Sciences,1,94,3,Male,76,3,1,Research Scientist,2,Married,2703,Upto 5k,4956,0,Y,No,23,4,4,80,1,6,3,3,5,4,0,NaN
264,RM206,29,26-35,Yes,Travel_Rarely,121,Sales,27,3,Marketing,1,283,2,Female,35,3,3,Sales Executive,4,Married,7639,5k-10k,24525,1,Y,No,22,4,4,80,3,10,3,2,10,4,1,NaN
268,RM253,29,26-35,No,Travel_Rarely,665,Research & Development,15,3,Life Sciences,1,346,3,Male,60,3,1,Research Scientist,4,Single,2340,Upto 5k,22673,1,Y,No,19,3,1,80,0,6,1,3,6,5,1,NaN
269,RM255,29,26-35,No,Travel_Rarely,1247,Sales,20,2,Marketing,1,349,4,Male,45,3,2,Sales Executive,4,Divorced,6931,5k-10k,10732,2,Y,No,14,3,4,80,1,10,2,3,3,2,0,NaN
329,RM008,30,26-35,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,4,Male,67,3,1,Laboratory Technician,3,Divorced,2693,Upto 5k,13335,1,Y,No,22,4,2,80,1,1,2,3,1,0,0,NaN
336,RM140,30,26-35,No,Travel_Rarely,1240,Human Resources,9,3,Human Resources,1,184,3,Male,48,3,2,Human Resources,4,Married,6347,5k-10k,13982,0,Y,Yes,19,3,4,80,0,12,2,1,11,9,4,NaN
337,RM144,30,26-35,No,Travel_Rarely,438,Research & Development,18,3,Life Sciences,1,194,1,Female,75,3,1,Research Scientist,3,Single,2632,Upto 5k,23910,1,Y,No,14,3,3,80,0,5,4,2,5,4,0,NaN
338,RM146,30,26-35,No,Travel_Rarely,201,Research & Development,5,3,Technical Degree,1,197,4,Female,84,3,1,Research Scientist,1,Divorced,3204,Upto 5k,10415,5,Y,No,14,3,4,80,1,8,3,3,3,2,2,NaN
339,RM147,30,26-35,No,Travel_Rarely,1427,Research & Development,2,1,Medical,1,198,2,Male,35,2,1,Laboratory Technician,4,Single,2720,Upto 5k,11162,0,Y,No,13,3,4,80,0,6,3,3,5,3,1,NaN
391,RM073,31,26-35,No,Travel_Rarely,1082,Research & Development,1,4,Medical,1,95,3,Male,87,3,1,Research Scientist,2,Single,2501,Upto 5k,18775,1,Y,No,17,3,2,80,0,1,4,3,1,1,1,NaN
392,RM076,31,26-35,No,Travel_Rarely,746,Research & Development,8,4,Life Sciences,1,98,3,Female,61,3,2,Manufacturing Director,4,Single,4424,Upto 5k,20682,1,Y,No,23,4,4,80,0,11,2,3,11,7,1,NaN
461,RM027,32,26-35,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,2,Female,72,1,1,Research Scientist,1,Single,3919,Upto 5k,4681,1,Y,Yes,22,4,2,80,0,10,5,3,10,2,6,NaN
463,RM074,32,26-35,No,Travel_Rarely,548,Research & Development,1,3,Life Sciences,1,96,2,Male,66,3,2,Research Scientist,2,Married,6220,5k-10k,7346,1,Y,No,17,3,2,80,2,10,3,3,10,4,0,NaN
466,RM141,32,26-35,Yes,Travel_Rarely,1033,Research & Development,9,3,Medical,1,190,1,Female,41,3,1,Laboratory Technician,1,Single,4200,Upto 5k,10224,7,Y,No,22,4,1,80,0,10,2,4,5,4,0,NaN
467,RM145,32,26-35,No,Travel_Frequently,689,Sales,9,2,Medical,1,195,4,Male,35,1,2,Sales Executive,4,Divorced,4668,Upto 5k,22812,0,Y,No,17,3,4,80,3,9,2,4,8,7,0,NaN
470,RM211,32,26-35,Yes,Travel_Rarely,1045,Sales,4,4,Medical,1,291,4,Male,32,1,3,Sales Executive,4,Married,10400,10k-15k,25812,1,Y,No,11,3,3,80,0,14,2,2,14,8,9,NaN
521,RM031,33,26-35,No,Travel_Rarely,924,Research & Development,2,3,Medical,1,39,3,Male,78,3,1,Laboratory Technician,4,Single,2496,Upto 5k,6670,4,Y,No,11,3,4,80,0,7,3,3,1,1,0,NaN
579,RM023,34,26-35,No,TravelRarely,419,Research & Development,7,4,Life Sciences,1,28,1,Female,53,3,3,Research Director,2,Single,11994,10k-15k,21293,0,Y,No,11,3,3,80,0,13,4,3,12,6,2,NaN
580,RM025,34,26-35,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,2,Male,83,3,1,Research Scientist,1,Single,2960,Upto 5k,17102,2,Y,No,11,3,3,80,0,8,2,3,4,2,1,NaN
664,RM077,35,26-35,No,Travel_Rarely,776,Sales,1,4,Marketing,1,100,3,Male,32,2,2,Sales Executive,1,Single,4312,Upto 5k,23016,0,Y,No,14,3,2,80,0,16,2,3,15,13,2,NaN
739,RM070,36,36-45,Yes,Travel_Rarely,318,Research & Development,9,3,Medical,1,90,4,Male,79,2,1,Research Scientist,3,Married,3388,Upto 5k,21777,0,Y,Yes,17,3,1,80,1,2,0,2,1,0,0,NaN
740,RM075,36,36-45,No,Travel_Rarely,132,Research & Development,6,3,Life Sciences,1,97,2,Female,55,4,1,Laboratory Technician,4,Married,3038,Upto 5k,22002,3,Y,No,12,3,2,80,0,5,3,3,1,0,0,NaN
745,RM208,36,36-45,No,Travel_Frequently,635,Research & Development,18,1,Medical,1,286,2,Female,73,3,1,Laboratory Technician,4,Single,2153,Upto 5k,7703,1,Y,No,13,3,1,80,0,8,2,3,8,1,1,NaN
751,RM359,36,36-45,No,Non-Travel,845,Sales,1,5,Medical,1,479,4,Female,45,3,2,Sales Executive,4,Single,6653,5k-10k,15276,4,Y,No,15,3,2,80,0,7,6,3,1,0,0,NaN
752,RM360,36,36-45,No,Travel_Frequently,541,Sales,3,4,Medical,1,481,1,Male,48,2,3,Sales Executive,4,Married,9699,5k-10k,7246,4,Y,No,11,3,1,80,1,16,2,3,13,9,1,NaN
814,RM249,37,36-45,No,Travel_Rarely,1017,Research & Development,1,2,Medical,1,340,3,Female,83,2,1,Research Scientist,1,Married,3920,Upto 5k,18697,2,Y,No,14,3,1,80,1,17,2,2,3,1,0,NaN
815,RM251,37,36-45,Yes,Travel_Frequently,504,Research & Development,10,3,Medical,1,342,1,Male,61,3,3,Manufacturing Director,3,Divorced,10048,10k-15k,22573,6,Y,No,11,3,2,80,2,17,5,3,1,0,0,NaN
854,RM009,38,36-45,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,4,Male,44,2,3,Manufacturing Director,3,Single,9526,5k-10k,8787,0,Y,No,21,4,2,80,0,10,2,3,9,7,1,NaN
858,RM143,38,36-45,No,Travel_Rarely,364,Research & Development,3,5,Technical Degree,1,193,4,Female,32,3,2,Research Scientist,3,Single,4317,Upto 5k,2302,3,Y,Yes,20,4,2,80,0,19,2,3,3,2,2,NaN
915,RM252,39,36-45,No,Travel_Frequently,505,Research & Development,2,4,Technical Degree,1,343,3,Female,64,3,3,Healthcare Representative,3,Single,10938,10k-15k,6420,0,Y,No,25,4,4,80,0,20,1,3,19,6,11,NaN
961,RM209,40,36-45,No,Non-Travel,1151,Research & Development,9,5,Life Sciences,1,287,4,Male,63,2,2,Healthcare Representative,4,Married,4876,Upto 5k,14242,9,Y,No,14,3,4,80,1,5,5,1,3,2,0,NaN
963,RM258,40,36-45,No,Travel_Rarely,1416,Research & Development,2,2,Medical,1,352,1,Male,49,3,5,Research Director,3,Divorced,19436,15k+,5949,0,Y,No,19,3,4,80,1,22,5,3,21,7,3,NaN
965,RM362,40,36-45,No,Travel_Rarely,1171,Research & Development,10,4,Life Sciences,1,483,4,Female,46,4,1,Laboratory Technician,3,Married,2213,Upto 5k,22495,3,Y,Yes,13,3,3,80,1,10,3,3,7,7,1,NaN
1025,RM404,41,36-45,No,Travel_Rarely,645,Sales,1,3,Marketing,1,534,2,Male,49,4,3,Sales Executive,1,Married,8392,5k-10k,19566,1,Y,No,16,3,3,80,1,10,2,3,10,7,0,NaN
1053,RM028,42,36-45,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,3,Male,48,3,2,Sales Executive,2,Married,6825,5k-10k,21173,0,Y,No,11,3,4,80,1,10,2,3,9,7,4,NaN
1056,RM254,42,36-45,No,Travel_Rarely,916,Research & Development,17,2,Life Sciences,1,347,4,Female,82,4,2,Research Scientist,1,Single,6545,5k-10k,23016,3,Y,Yes,13,3,3,80,0,10,1,3,3,2,0,NaN
1057,RM257,42,36-45,No,Travel_Rarely,269,Research & Development,2,3,Medical,1,351,4,Female,56,2,1,Laboratory Technician,1,Divorced,2593,Upto 5k,8007,0,Y,Yes,11,3,3,80,1,10,4,3,9,6,7,NaN
1131,RM029,44,36-45,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,1,Female,42,2,3,Healthcare Representative,4,Married,10248,10k-15k,2094,3,Y,No,14,3,4,80,1,24,4,3,22,6,5,NaN
1165,RM078,45,36-45,No,Travel_Rarely,193,Research & Development,6,4,Other,1,101,4,Male,52,3,3,Research Director,1,Married,13245,10k-15k,15067,4,Y,Yes,14,3,2,80,0,17,3,4,0,0,0,NaN
1166,RM142,45,36-45,No,Travel_Rarely,1316,Research & Development,29,3,Medical,1,192,3,Male,83,3,1,Research Scientist,4,Single,3452,Upto 5k,9752,5,Y,No,13,3,2,80,0,9,2,2,6,5,0,NaN
1172,RM250,45,36-45,No,Travel_Frequently,1199,Research & Development,7,4,Life Sciences,1,341,1,Male,77,4,2,Manufacturing Director,3,Married,6434,5k-10k,5118,4,Y,No,17,3,4,80,1,9,1,3,3,2,0,NaN
1176,RM408,45,36-45,No,Travel_Rarely,192,Research & Development,10,2,Life Sciences,1,544,1,Male,69,3,1,Research Scientist,4,Married,2654,Upto 5k,9655,3,Y,No,21,4,4,80,2,8,3,2,2,2,0,NaN
1205,RM030,46,46-55,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,2,Female,83,3,5,Manager,1,Single,18947,15k+,22822,3,Y,No,12,3,4,80,0,22,2,2,2,2,2,NaN
1211,RM210,46,46-55,No,Travel_Rarely,644,Research & Development,1,4,Medical,1,288,4,Male,97,3,3,Healthcare Representative,1,Divorced,9396,5k-10k,12368,7,Y,No,16,3,3,80,1,17,3,3,4,2,0,NaN
1345,RM259,51,46-55,No,Travel_Rarely,833,Research & Development,1,3,Life Sciences,1,353,3,Male,96,3,1,Research Scientist,4,Married,2723,Upto 5k,23231,1,Y,No,11,3,2,80,0,1,0,2,1,0,0,NaN
1360,RM407,52,46-55,No,Travel_Rarely,319,Research & Development,3,3,Medical,1,543,4,Male,39,2,3,Manufacturing Director,3,Married,7969,5k-10k,19609,2,Y,Yes,14,3,3,80,0,28,4,3,5,4,0,NaN
1375,RM026,53,46-55,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,3,Female,58,3,5,Manager,3,Divorced,19094,15k+,10735,4,Y,No,11,3,4,80,1,26,3,2,14,13,4,NaN
1448,RM361,57,55+,No,Travel_Rarely,593,Research & Development,1,4,Medical,1,482,4,Male,88,3,2,Healthcare Representative,3,Married,6755,5k-10k,2967,2,Y,No,11,3,3,80,0,15,2,3,3,2,1,NaN
1465,RM007,59,55+,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,3,Female,81,4,1,Laboratory Technician,1,Married,2670,Upto 5k,9964,4,Y,Yes,20,4,1,80,3,12,3,2,1,0,0,NaN
1467,RM071,59,55+,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,1,Female,57,2,2,Sales Executive,3,Single,5473,5k-10k,24668,7,Y,No,11,3,4,80,0,20,2,2,4,3,1,NaN

In [8]:
# inspect statistics of numerical columns for selected rows with NaNs
df.loc[nan_mask, :].describe().T

,count,mean,std,min,25%,50%,75%,max
Age,57.0,36.736842,9.085951,21.0,30.0,36.0,42.0,59.0
DailyRate,57.0,786.017544,383.542906,121.0,504.0,705.0,1136.0,1427.0
DistanceFromHome,57.0,8.157895,7.724704,1.0,2.0,6.0,10.0,29.0
Education,57.0,3.000000,1.035098,1.0,2.0,3.0,4.0,5.0
EmployeeCount,57.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
EmployeeNumber,57.0,237.894737,170.460582,10.0,94.0,197.0,349.0,544.0
EnvironmentSatisfaction,57.0,2.666667,1.170063,1.0,2.0,3.0,4.0,4.0
HourlyRate,57.0,61.964912,18.924630,32.0,46.0,61.0,79.0,97.0
JobInvolvement,57.0,2.807018,0.718098,1.0,2.0,3.0,3.0,4.0
JobLevel,57.0,1.929825,1.066698,1.0,1.0,2.0,3.0,5.0
JobSatisfaction,57.0,2.719298,1.206447,1.0,1.0,3.0,4.0,4.0
MonthlyIncome,57.0,6091.561404,4265.344736,1232.0,2720.0,4558.0,7969.0,19436.0
MonthlyRate,57.0,14371.561404,7242.276965,2094.0,8007.0,13535.0,21777.0,25812.0
NumCompaniesWorked,57.0,2.245614,2.181748,0.0,1.0,1.0,4.0,9.0
PercentSalaryHike,57.0,15.543860,4.123410,11.0,12.0,14.0,19.0,25.0
PerformanceRating,57.0,3.210526,0.411306,3.0,3.0,3.0,3.0,4.0
RelationshipSatisfaction,57.0,2.894737,1.096817,1.0,2.0,3.0,4.0,4.0
StandardHours,57.0,80.000000,0.000000,80.0,80.0,80.0,80.0,80.0
StockOptionLevel,57.0,0.649123,0.834335,0.0,0.0,0.0,1.0,3.0
TotalWorkingYears,57.0,10.754386,6.476002,0.0,6.0,10.0,15.0,28.0
TrainingTimesLastYear,57.0,2.754386,1.313130,0.0,2.0,3.0,3.0,6.0
WorkLifeBalance,57.0,2.736842,0.613139,1.0,2.0,3.0,3.0,4.0
YearsAtCompany,57.0,6.192982,5.303094,0.0,2.0,4.0,10.0,22.0
YearsInCurrentRole,57.0,3.561404,3.173650,0.0,2.0,2.0,6.0,13.0
YearsSinceLastPromotion,57.0,1.456140,2.291835,0.0,0.0,1.0,2.0,11.0
YearsWithCurrManager,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# data imputation (replace NaNs with median years with current Manager)
df['YearsWithCurrManager'].fillna(value=df['YearsWithCurrManager'].median(), inplace = True)

In [10]:
# review data imputation (sample)
df.loc[[1345, 1360, 1375], :]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1345,RM259,51,46-55,No,Travel_Rarely,833,Research & Development,1,3,Life Sciences,1,353,3,Male,96,3,1,Research Scientist,4,Married,2723,Upto 5k,23231,1,Y,No,11,3,2,80,0,1,0,2,1,0,0,3.0
1360,RM407,52,46-55,No,Travel_Rarely,319,Research & Development,3,3,Medical,1,543,4,Male,39,2,3,Manufacturing Director,3,Married,7969,5k-10k,19609,2,Y,Yes,14,3,3,80,0,28,4,3,5,4,0,3.0
1375,RM026,53,46-55,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,3,Female,58,3,5,Manager,3,Divorced,19094,15k+,10735,4,Y,No,11,3,4,80,1,26,3,2,14,13,4,3.0

In [11]:
# alternative: delete NaN rows
# df.dropna(how='any', axis=0, inplace=True)

In [12]:
# in order to check if EmployeeNumber has 1470 unique values aswell (which is the case)
# df['EmployeeNumber'] = df['EmployeeNumber'].astype('category')

In [13]:
# check (number of) unique values

variables = ['EmpID',                        
'Age',                          
'AgeGroup',                     
'Attrition',                    
'BusinessTravel',               
'DailyRate',                   
'Department',                   
'DistanceFromHome',             
'Education',                    
'EducationField',               
'EmployeeCount',                
'EmployeeNumber',               
'EnvironmentSatisfaction',      
'Gender',                       
'HourlyRate',                   
'JobInvolvement',               
'JobLevel',                     
'JobRole',                      
'JobSatisfaction',              
'MaritalStatus',                
'MonthlyIncome',                
'SalarySlab',                   
'MonthlyRate',                  
'NumCompaniesWorked',           
'Over18',                       
'OverTime',                     
'PercentSalaryHike',            
'PerformanceRating',            
'RelationshipSatisfaction',     
'StandardHours',                
'StockOptionLevel',             
'TotalWorkingYears',            
'TrainingTimesLastYear',        
'WorkLifeBalance',              
'YearsAtCompany',               
'YearsInCurrentRole',           
'YearsSinceLastPromotion',      
'YearsWithCurrManager']

for entry in variables:
    print("\033[1m" + entry.title() + "\033[0m", '\n', df.loc[:, entry].unique(), '\n') # bold text

Empid
 ['RM297', 'RM302', 'RM458', 'RM728', 'RM829', ..., 'RM412', 'RM428', 'RM537', 'RM880', 'RM1210']
Length: 1470
Categories (1470, object): ['RM297', 'RM302', 'RM458', 'RM728', ..., 'RM428', 'RM537', 'RM880', 'RM1210']

Age
 [18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60]

Agegroup
 ['18-25', '26-35', '36-45', '46-55', '55+']
Categories (5, object): ['18-25', '26-35', '36-45', '46-55', '55+']

Attrition
 ['Yes', 'No']
Categories (2, object): ['Yes', 'No']

Businesstravel
 ['Travel_Rarely', 'Travel_Frequently', 'Non-Travel', 'TravelRarely']
Categories (4, object): ['Travel_Rarely', 'Travel_Frequently', 'Non-Travel', 'TravelRarely']

Dailyrate
 [ 230  812 1306  287  247 1124  544 1431  528 1181  602  303  489  419
  645  504  265  871  959 1362  500  129 1097  769  805  654 1141  727
  391  996  756  895  156 1343 1427 1334  984  251  546  337  501 1123
  534  594 1256 1136  253 1368  604 1230  617  217  457 1294  581  541
 1309  885  650  310 1243  373  507  977 1320  427  160  571  638  673
  813 1353 1127 1371 1448  535  691  823 1287  693 1092 1269 1206  477
 1476  381  830  350  567  240  506  897  771 1280  685  675  891  688
  622  810  883  180  141  583  867 1219 1356  599  266  882 1372  949
  383  772  309 1382 1357 1443  841 1355 1479  496 1449  950  933  575
 1349  426  775  471  703  991 1146  887 1283 1066  342  921  192 1330
 1384  683  652  474  786  390  920  572  482 1096  157 1167  591 1240
  994 1450 1157  894  472 1242 1220 1377  210 1130 1469  798 1420 1115
 1410  608  294  975  829  269  443  618 1134 1055 1277  199 1103 1291
  793  205  135 1302  486 1054 1297  728 1131  511 1354 1337  954  155
  103 1434  120  440  529 1158 1117  304 1300  890  760 1169  821  995
 1144 1366  857 1009 1451  773 1485 1179  791  193  640  736  866 1496
  289 1423  467 1083  329  580 1217  280 1172  783 1475 1404  153 1389
 1328  121  992 1413  896  665 1247 1210  442  318  738  144  746  986
  408  232 1176  806 1396 1090  657 1252  341 1086  906 1107  490  718
 1401  942 1010 1329  694  332  115 1246  410  224  441  598 1370  469
 1082  428  461  590  574  726  352  459  592  136 1378  468 1358  125
  721  852  288 1312  438  201 1339  111 1005  334 1275  570  641  202
  464  317 1400 1398 1116  413  448  946 1012  231  138  109  853 1465
  879 1138  634  855  990  330  740 1288  241  600  979  305  945  911
  670  655  249  542  140 1327  307 1463  444  218  106 1232  480 1274
  828 1365  525 1222  154 1188  616  335  874 1332 1062  587 1060  667
  182  326 1445  523  561  715 1112  741  163 1003 1079  196 1125  359
  311  976  754 1276  697 1154  325  548 1093  827 1033  689  967 1045
  515 1311  128  588 1018 1474  646  929  430  859  117  300  379  374
 1184  498 1109  862  116 1316 1089  499  601  495  824 1200 1259  585
  964  371  953 1318  414  238 1373  267  234  801 1392  924  750  134
  931  147  465  832  553  508  922 1216 1296 1076  527  213  118  586
 1075 1198 1069  722 1038 1017  970  603  536 1111 1099  516  589  392
  530  211 1303 1313 1346  699 1065 1153  658 1031  629  878  470 1381
  296  988  258  254  204 1397 1442  167  702  216 1333  669  131  648
  943  999  285  404  560  401 1326  790  971 1440  479 1351  653  678
  181 1375 1480  735  937 1239  704  628  809 1229 1142  664  776 1214
  662  556  944 1315  755  619  195  538 1225  384 1258  607  130  672
 1137  802 1204 1182  982  819  636 1361 1212  817  200  660 1029 1402
  104  208  737  763  880  146 1180  185  219  682 1224 1490 1395 1199
 1299 1218 1223 1195  132 1467  635 1403  566 1105  845  164  913  676
 1041  928 1278 1425  188  938  796  917  363  429 1174  172  884  559
  711 1040 1456 1383 1266 1213  557  301 1120  397  807 1189  290  663
  319  228  889 1192 1319 1305 1063  799  142  446  558 1231  625  124
  367 1439 1462  674  671 1470  370  161  573  364 1380 1261 1084  119
  322  849  343 1495  362  243  168  268  395  152 1391 1035 1186  770
  433  888  903 1245  437  148  833 1336  723 1394 1444 1321  345  505
 1132 1162 1122  466  203  439  412  360  524 1498 1387  170  492  792
 1253  766  835 1251  105  613  630  989  905 1151 1416 1171  759  555
  302 1094  804  720 1492 1308  593  902  107  299  458 1202 1342  898
  369  611 1194  692  543 1322 1102 1360 1411  483  143  509  314 1085
  263  840  549  256  918  552  447  642  582  930  926  532  916  932
 1271 1265  462  481  647  179 1147  748 1059 1128  355 1273  394  957
 1344 1034 1001  313 1473  782  422  177  415  531  244 1422 1459 1488
  661 1376  621  935  981 1193 1037  194 1268 1052  252 1385 1249  306
  974  248 1234  788 1050 1457 1015  336 1238  176  705 1211  526  644
  488  406  150  377  563  717  734  261  706 1254  666 1482  983  719
 1454 1379  955  207  626 1236  277 1262  969 1221 1108  365  708  279
 1002 1091 1418  174 1098  271 1064 1023  869 1452  328  854  797 1046
 1207  562  316  881 1126  939  145 1464 1421  333  264  432  632  684
 1150 1178 1323  237  968 1405  956 1325 1053 1030 1282 1436 1070  346
  868  102 1168  376 1441  966  584  431  836  452  725  436  282  478
  189  713  206 1369 1255  405 1145  286  781 1272  848  605 1324 1435
  818 1429 1499  696]

Department
 ['Research & Development', 'Sales', 'Human Resources']
Categories (3, object): ['Research & Development', 'Sales', 'Human Resources']

Distancefromhome
 [ 3 10  5  8  1 14 22  2 21  9 25  6  4 11 15 12 18  7 16 19 26 20 24 23
 17 13 29 28 27]

Education
 [3 2 1 4 5]

Educationfield
 ['Life Sciences', 'Medical', 'Marketing', 'Technical Degree', 'Other', 'Human Resources']
Categories (6, object): ['Life Sciences', 'Medical', 'Marketing', 'Technical Degree', 'Other', 'Human Resources']

Employeecount
 [1]

Employeenumber
 [ 405  411  614 ...  732 1233 1697]

Environmentsatisfaction
 [3 4 2 1]

Gender
 ['Male', 'Female']
Categories (2, object): ['Male', 'Female']

Hourlyrate
 [ 54  69  73  80  97  70  33  50  79 100  47  52  37  96  57  66  83  32
  49  84  98  87  43  31  99  39  90  65  36  45  58  59  60  34  94  48
  85  75  63  62  93  51  78  61  77  38  89  55  46  41  42  91  64  40
  67  81  68  82  71  88  53  76  95  30  74  56  86  44  92  72  35]

Jobinvolvement
 [3 2 1 4]

Joblevel
 [1 2 3 4 5]

Jobrole
 ['Laboratory Technician', 'Sales Representative', 'Research Scientist', 'Human Resources', 'Manufacturing Director', 'Sales Executive', 'Healthcare Representative', 'Research Director', 'Manager']
Categories (9, object): ['Laboratory Technician', 'Sales Representative', 'Research Scientist', 'Human Resources', ..., 'Sales Executive', 'Healthcare Representative', 'Research Director', 'Manager']

Jobsatisfaction
 [3 2 4 1]

Maritalstatus
 ['Single', 'Divorced', 'Married']
Categories (3, object): ['Single', 'Divorced', 'Married']

Monthlyincome
 [ 1420  1200  1878 ... 10266  5220 10883]

Salaryslab
 ['Upto 5k', '5k-10k', '10k-15k', '15k+']
Categories (4, object): ['Upto 5k', '5k-10k', '10k-15k', '15k+']

Monthlyrate
 [25233  9724  8059 ... 11924 10893 20467]

Numcompaniesworked
 [1 0 5 6 3 2 9 8 7 4]

Over18
 ['Y']
Categories (1, object): ['Y']

Overtime
 ['No', 'Yes']
Categories (2, object): ['No', 'Yes']

Percentsalaryhike
 [13 12 14 15 16 19 21 22 25 18 11 17 24 20 23]

Performancerating
 [3 4]

Relationshipsatisfaction
 [3 1 4 2]

Standardhours
 [80]

Stockoptionlevel
 [0 2 1 3]

Totalworkingyears
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 28 27 29 31 30 32 33 34 35 36 37 38 40]

Trainingtimeslastyear
 [2 3 0 5 4 6 1]

Worklifebalance
 [3 4 1 2]

Yearsatcompany
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 24
 25 23 26 31 27 32 30 29 33 34 36 37 40]

Yearsincurrentrole
 [ 0  1  2  3  4  5  7  8  6  9 10 12 13 14 11 15 16 17 18]

Yearssincelastpromotion
 [ 0  1  2  3  5  4  7  6  8 10  9 11 12 15 13 14]

Yearswithcurrmanager
 [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 12. 13. 11. 15. 14. 17. 16.]

In [14]:
# --> EmpID and EmployeeNumber contain 10 duplicates

In [15]:
# inspect duplicates
duplicates_list = []
df_duplicates = df['EmpID'].duplicated()
for i in range(len(df_duplicates)):
    if df_duplicates[i] == True:
        duplicates_list.append(i)

print(duplicates_list, '\n')
display(df.loc[duplicates_list, :])

[162, 211, 328, 458, 655, 803, 954, 955, 1305, 1336]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
162,RM1465,26,26-35,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,Female,30,2,1,Sales Representative,3,Single,2966,Upto 5k,21378,0,Y,No,18,3,4,80,0,5,2,3,4,2,0,5.0
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5k-10k,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3.0
328,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,Female,73,2,1,Research Scientist,1,Single,3785,Upto 5k,8489,1,Y,No,14,3,2,80,0,5,3,1,5,4,0,4.0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,Male,74,3,2,Manufacturing Director,1,Single,9936,5k-10k,3787,0,Y,No,19,3,2,80,0,10,2,3,9,4,1,7.0
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,Upto 5k,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2.0
803,RM1466,36,36-45,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,Upto 5k,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,2.0
954,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,Female,60,2,4,Sales Executive,4,Married,12031,10k-15k,8828,0,Y,No,11,3,1,80,1,21,2,2,20,9,9,6.0
955,RM1467,39,36-45,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,5k-10k,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,1.0
1305,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,5k-10k,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8.0
1336,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,Male,39,2,3,Sales Executive,1,Divorced,10854,10k-15k,16586,4,Y,Yes,13,3,2,80,1,20,3,3,3,2,2,0.0

In [16]:
# --> last 10 EmpIDs respectively last 10 EmployeeNumbers seem to be duplicates

In [17]:
# sort DataFrame by EmployeeNumber
df = df.sort_values('EmployeeNumber')
df.tail(20)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
327,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,Female,73,2,1,Research Scientist,1,Single,3785,Upto 5k,8489,1,Y,No,14,3,2,80,0,5,3,1,5,4,0,4.0
328,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,Female,73,2,1,Research Scientist,1,Single,3785,Upto 5k,8489,1,Y,No,14,3,2,80,0,5,3,1,5,4,0,4.0
1335,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,Male,39,2,3,Sales Executive,1,Divorced,10854,10k-15k,16586,4,Y,Yes,13,3,2,80,1,20,3,3,3,2,2,0.0
1336,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,Male,39,2,3,Sales Executive,1,Divorced,10854,10k-15k,16586,4,Y,Yes,13,3,2,80,1,20,3,3,3,2,2,0.0
952,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,Female,60,2,4,Sales Executive,4,Married,12031,10k-15k,8828,0,Y,No,11,3,1,80,1,21,2,2,20,9,9,6.0
954,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,Female,60,2,4,Sales Executive,4,Married,12031,10k-15k,8828,0,Y,No,11,3,1,80,1,21,2,2,20,9,9,6.0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,Male,74,3,2,Manufacturing Director,1,Single,9936,5k-10k,3787,0,Y,No,19,3,2,80,0,10,2,3,9,4,1,7.0
457,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,Male,74,3,2,Manufacturing Director,1,Single,9936,5k-10k,3787,0,Y,No,19,3,2,80,0,10,2,3,9,4,1,7.0
162,RM1465,26,26-35,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,Female,30,2,1,Sales Representative,3,Single,2966,Upto 5k,21378,0,Y,No,18,3,4,80,0,5,2,3,4,2,0,5.0
161,RM1465,26,26-35,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,Female,30,2,1,Sales Representative,3,Single,2966,Upto 5k,21378,0,Y,No,18,3,4,80,0,5,2,3,4,2,0,0.0
803,RM1466,36,36-45,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,Upto 5k,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,2.0
802,RM1466,36,36-45,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,Upto 5k,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,3.0
953,RM1467,39,36-45,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,5k-10k,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,7.0
955,RM1467,39,36-45,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,5k-10k,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,1.0
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5k-10k,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3.0
210,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5k-10k,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3.0
1304,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,5k-10k,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8.0
1305,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,5k-10k,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8.0
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,Upto 5k,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2.0
654,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,Upto 5k,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2.0

In [18]:
# remove duplicates
df = df.drop_duplicates(subset=['EmployeeNumber'], keep='first')
df.tail(20)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
731,RM1451,35,26-35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,3,Female,31,3,3,Human Resources,4,Single,8837,5k-10k,16642,1,Y,Yes,16,3,3,80,0,9,2,3,9,0,1,7.0
911,RM1452,38,36-45,No,TravelRarely,345,Sales,10,2,Life Sciences,1,2041,1,Female,100,3,2,Sales Executive,4,Married,5343,5k-10k,5982,1,Y,No,11,3,3,80,1,10,1,3,10,7,1,9.0
1334,RM1453,50,46-55,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,2,Male,94,3,2,Sales Executive,3,Divorced,6728,5k-10k,14255,7,Y,No,12,3,4,80,2,12,3,3,6,3,0,1.0
801,RM1454,36,36-45,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,2,Female,100,2,2,Sales Executive,4,Married,6652,5k-10k,14369,4,Y,No,13,3,1,80,1,8,2,2,6,3,0,0.0
1204,RM1455,45,36-45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,4,Female,50,3,2,Sales Executive,3,Single,4850,Upto 5k,23333,8,Y,No,15,3,3,80,0,8,3,3,5,3,0,1.0
1011,RM1456,40,36-45,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,3,Male,52,2,1,Research Scientist,3,Single,2809,Upto 5k,2725,2,Y,No,14,3,4,80,0,8,2,3,2,2,2,2.0
732,RM1457,35,26-35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,3,Male,80,3,2,Healthcare Representative,3,Married,5689,5k-10k,24594,1,Y,Yes,14,3,4,80,2,10,2,4,10,2,0,2.0
1012,RM1458,40,36-45,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,3,Female,98,3,1,Research Scientist,3,Married,2001,Upto 5k,12549,2,Y,No,14,3,2,80,3,20,2,3,5,3,0,2.0
733,RM1459,35,26-35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,3,Female,62,1,1,Research Scientist,4,Married,2977,Upto 5k,8952,1,Y,No,12,3,4,80,1,4,5,3,4,3,1,1.0
326,RM1460,29,26-35,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,4,Male,46,2,2,Laboratory Technician,2,Married,4025,Upto 5k,23679,4,Y,Yes,13,3,1,80,1,10,2,3,4,3,0,3.0
327,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,4,Female,73,2,1,Research Scientist,1,Single,3785,Upto 5k,8489,1,Y,No,14,3,2,80,0,5,3,1,5,4,0,4.0
1335,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,4,Male,39,2,3,Sales Executive,1,Divorced,10854,10k-15k,16586,4,Y,Yes,13,3,2,80,1,20,3,3,3,2,2,0.0
952,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,2,Female,60,2,4,Sales Executive,4,Married,12031,10k-15k,8828,0,Y,No,11,3,1,80,1,21,2,2,20,9,9,6.0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,2,Male,74,3,2,Manufacturing Director,1,Single,9936,5k-10k,3787,0,Y,No,19,3,2,80,0,10,2,3,9,4,1,7.0
162,RM1465,26,26-35,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,4,Female,30,2,1,Sales Representative,3,Single,2966,Upto 5k,21378,0,Y,No,18,3,4,80,0,5,2,3,4,2,0,5.0
803,RM1466,36,36-45,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,Upto 5k,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,2.0
953,RM1467,39,36-45,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,5k-10k,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,7.0
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5k-10k,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3.0
1304,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,5k-10k,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8.0
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,Upto 5k,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2.0

In [19]:
# sort DataFrame by index again
df = df.sort_index()
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,405,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,Y,No,13,3,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,411,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,Y,No,12,3,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,614,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Y,Yes,14,3,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,1012,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,Y,No,15,3,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,1156,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,Y,No,12,3,4,80,0,0,0,3,0,0,0,0.0

In [20]:
# remove irrelevant columns
df = df.drop('EmployeeCount', axis=1)
df = df.drop('Over18', axis=1)
df = df.drop('StandardHours', axis=1)

print(df.shape, '\n')

(1470, 35)

In [21]:
# remove columns which contain highly unrealistic or impossible values: daily, hourly and monthly rate (or just ignore them)
#df = df.drop('DailyRate', axis=1)
#df = df.drop('HourlyRate', axis=1)
#df = df.drop('MonthlyRate', axis=1)

In [22]:
print(df.shape, '\n')
df.head()

(1470, 35)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,SalarySlab,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,405,3,Male,54,3,1,Laboratory Technician,3,Single,1420,Upto 5k,25233,1,No,13,3,3,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,411,4,Female,69,2,1,Sales Representative,3,Single,1200,Upto 5k,9724,1,No,12,3,1,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,614,2,Male,69,3,1,Sales Representative,2,Single,1878,Upto 5k,8059,1,Yes,14,3,4,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1012,2,Male,73,3,1,Research Scientist,4,Single,1051,Upto 5k,13493,1,No,15,3,4,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1156,3,Male,80,3,1,Laboratory Technician,3,Single,1904,Upto 5k,13556,1,No,12,3,4,0,0,0,3,0,0,0,0.0

In [23]:
# are age and total working years consistent?
# calculate difference between age and working years to get career entry age
series_realistic_age = df.loc[:, 'Age'] - df.loc[:, 'TotalWorkingYears']
df_realistic_age = pd.DataFrame(series_realistic_age)
display(df_realistic_age)
print(df_realistic_age.iloc[:, 0].min()) # 18 --> realistic
print(df_realistic_age.iloc[:, 0].max()) # 56 --> rather unrealistic (ignore for now because mean is...
print(df_realistic_age.iloc[:, 0].mean()) # 25.6 --> ...realistic)

       0
0     18
1     18
2     18
3     18
4     18
...   ..
1475  27
1476  38
1477  50
1478  48
1479  41

[1470 rows x 1 columns]

18
56
25.64421768707483

# 2. Exploratory Data Analysis (EDA)

# 2.1 Company Structure

In [24]:
# number of current and former employees, departments, salary slabs, total payroll costs/per employee (using monthly income),
# distribution of employees among different job roles and levels

# 2.2 Sociodemographic Profile of Employees

In [25]:
# age distribution, gender ratio, educational background, marital status

# 2.3 Occupational Profile of Employees

In [26]:
# business travel, distance from home, job role, job level, monthly Income, NumCompaniesWorked, overtime, 
# salary hike, stock option level, total working years, trainings, years at company / since last promotion / with curr manager

# 2.4 Assessments

In [27]:
# regarding the employee: job involvement, performance rating
# regarding the job: environment satisfaction, job satisfaction, relationship satisfaction, work life balance

# 3. Data Analysis (goal: improve employee performance, job satisfaction and employee loyalty)

In [28]:
# select interesting variables and correlations
# sns.heatmap(xxx)
# sns.pairplot(df)

# 3.1 Identification of Possible Measures to increase Job Satisfaction

# 3.2 Identification of Possibe Measures to increase Performance Ratings

# 3.3 Prediction of Future Attrition

# 3.4 Bonus: Examination of Possible (adjusted) Gender Pay Gap within the organization and departments

# 4. Data Visualization